{% extends "base.html" %}

{% load static %}

{% block title %}Homepage{% endblock %}

{% block styles %}
<style>
    
</style>

{% endblock %}


{% block content %}
<main class="container py-4">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        

{% for message in messages %}
    <p style="color:red">{{ message }}</p>
  {% endfor %}

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update Password</button>
  </form>
    </div>
</main>


{% endblock %}

{% block scripts %}

{% endblock %}




